<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="FeiraApp"
        android:supportsRtl="true"
        android:theme="@style/Theme.FeiraApp">

        <activity
            android:name=".PalestrasActivity"
            android:exported="false" />

        <activity
            android:name=".ExpositoresActivity"
            android:exported="false" />

        <activity
            android:name=".ProgramacaoActivity"
            android:exported="false" />

        <activity
            android:name=".MapaActivity"
            android:exported="false" />

        <activity
            android:name=".FavoritosActivity"
            android:exported="false" />

        <activity
            android:name=".SobreActivity"
            android:exported="false" />

        <activity
            android:name=".HomeActivity"
            android:exported="false" />

        <activity
            android:name=".CadastroActivity"
            android:exported="false" />

        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>